<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time itemprop="datePublished" datetime="<%= post.date.format() %>">
    <time itemprop="dateModified" datetime="<%= post.updated.format() %>"></time>
	<% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>

        <% if(is_post()) { %>
          <div class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span typeof="v:Breadcrumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="<%= config.url + '/' %>"  itemprop="item">
                <span itemprop="name" >Início</span>
              </a>
              <meta itemprop="position" content="1" />
            </span>
              »
            <span  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="<%= config.url + '/' + post.categories.first().path %>"  itemprop="item">
                <span itemprop="name" ><%= post.categories.first().name %></span>
              </a>
              <meta itemprop="position" content="2" />
            </span>
                »
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a href="#" itemprop="item" >
                <strong class="breadcrumb_last">
                  <span itemprop="name" ><%= post.title %></span>
                </strong>
              </a>
              <meta itemprop="position" content="3" />
            </span>
          </div>
        <% } %>
    <% } %>
</div>


<% if(is_post()) { %>
  <br />
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block; text-align:center;"
       data-ad-layout="in-article"
       data-ad-format="fluid"
       data-ad-client="ca-pub-8608728242955074"
       data-ad-slot="2591197189"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% } %>
