<%
    var tableOfContents = null;
    var postContent = post.content;

    // Generate and insert table of contents in post content
    if ((/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(postContent)) {
        if (__('post.toc')) {
            tableOfContents = '<h1 id=\"table-of-contents\">' + __('post.toc') + '</h1>';
        } else {
            tableOfContents = '<span id="table-of-contents"></span>';
        }
        tableOfContents += toc(postContent, {list_number: false})
        postContent = postContent.replace(/<!--(\s*)[t|T][o|O][c|C](\s*)-->/, tableOfContents)
    }
    // Replace `<!-- endcontent -->` by `</div>` and `<!-- content -->` by `</div class="main-content-wrap">`
    // it's an hack to insert html tag without
    // having auto delete or auto closed by the markdown render engine
    // Currently used to insert an image in full width, out of `main-content-wrap` div
    // which center the content and have a limited width (750px)
    postContent = postContent.replace(/<!-- ?endcontent ?-->/g, '</div>')
                               .replace(/<!-- ?content ?-->/g, '<div class="main-content-wrap">');
%>
<article class="post" href="<%= config.url + '/' + page.path %>">

  <link itemprop="mainEntityOfPage" href="<%= config.url + '/' + page.path %>">

      <span style="display:none" itemprop="author" itemscope itemtype="http://schema.org/Person">
       <meta itemprop="name" content="Lucas Buzzo">
       <meta itemprop="description" content="Sempre se interessou pelo voo e a liberdade que ele transmite. Graduando em Ciência da Computação. Acredita que o Brasil tem um grande potencial e, por esta razão, fundou ODrones, para difundir a tecnologia que já é febre no exterior.">
       <meta itemprop="image" content="<%= config.url + '/images/lucas-buzzo.jpg' %>">
       <meta itemprop="sameAs" content="https://www.facebook.com/lcsbzo">
       <meta itemprop="sameAs" content="https://twitter.com/lcsbzo">
       <meta itemprop="sameAs" content="https://github.com/lubuzzo/">
      </span>

      <span itemscope itemtype="http://schema.org/Organization" style="display: none;" >
        <meta itemprop="name" content="ODrones"/>
        <meta itemprop="alternateName" content="ODrones"/>
        <link itemprop="url" href="https://odrones.com.br"/>
        <img itemprop="logo" src="https://odrones.com.br/images/odrones.png" style="display: none;" />
        <a itemprop="sameAs" href="https://www.facebook.com/odrones" style="display: none;" >Facebook</a>
        <a itemprop="sameAs" href="https://twitter.com/odrones" style="display: none;" >Twitter</a>
        <a itemprop="sameAs" href="https://plus.google.com/+OdronesBr" style="display: none;" >Google+</a>
        <a itemprop="sameAs" href="https://github.com/odrones/" style="display: none;" >Github</a>
      </span>

      <% if (post.eyeCatchImage && post.eyeCatchImage != "" && post.eyeCatchImageProperty && post.eyeCatchImageProperty.width && post.eyeCatchImageProperty.height){ %>

      <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" style="display: none">
        <img itemprop="image" id="ImagemPost" src="<%= config.url + post.thumbnailImage %>" />
        <meta itemprop="url" content="<%= config.url + post.thumbnailImage %>">
        <meta itemprop="width" content="<%= post.eyeCatchImageProperty.width %>">
        <meta itemprop="height" content="<%= post.eyeCatchImageProperty.height %>">
      </div>

      <% } %>

    <% if (post.coverCaption) { %>
        <span class="post-header-cover-caption caption"><%= post.coverCaption %></span>
    <% } %>
    <% if (!post.coverImage || post.coverMeta === 'out') { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="post-content markdown">
        <div class="main-content-wrap">
            <%- postContent %>
            <%- partial('post/gallery') %>

            <br />

            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ODrones baixo -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8608728242955074"
                 data-ad-slot="8264240945"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>
    </div>
    <div id="post-footer" class="post-footer main-content-wrap">
        <% if ((post.tags) && (post.tags.length > 0)) { %>
            <div class="post-footer-tags">
                <span class="text-color-light text-small"><%= __('post.tagged_in') %></span><br/>
                <%- partial('post/tag', {tags: post.tags})%>
            </div>
        <% } %>

          <div class="media author-box">

              <div class="media-figure">
                  <img id="about-card-picture" src="<%= config.authorDetail.avatar.path %>" alt="<%= config.authorDetail.authorReading %>" width="<%= config.authorDetail.avatar.width %>px" height="<%= config.authorDetail.avatar.height %>px"/>
              </div>

              <div class="media-body">
                  <h4 id="about-card-name"><%= config.authorDetail.authorReading %></h4>
                  <p id="about-card-bio"><%= config.authorDetail.description %></p>
              </div>

          </div>

        <% if (post.actions === undefined || post.actions) { %>
            <%- partial('post/actions', {postContent: postContent}) %>
        <% } %>
        <% if (post.comments) { %>
            <% if (theme.disqus_shortname) { %>
                <%- partial('post/disqus') %>
            <% } else if (theme.gitment.enable) { %>
                <%- partial('post/gitment') %>
            <% } %>
        <% } %>
    </div>
</article>
